<script src="https://cdn.tailwindcss.com"></script>
<div>
    <nav class="bg-gray-800">
             <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
               <div class="relative flex items-center justify-between h-16">
                 <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                  
                   <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                     <span class="sr-only">Open main menu</span>
                    
                     <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="2" stroke="currentColor" aria-hidden="true">
                       <path strokeLinecap="round" strokeLinejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                     </svg>
                    
                     <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="2" stroke="currentColor" aria-hidden="true">
                       <path strokeLinecap="round" strokeLinejoin="round" d="M6 18L18 6M6 6l12 12" />
                     </svg>
                   </button>
                 </div>
                 <div class="flex-1 flex items-center justify-end sm:items-stretch sm:justify-start">
                   <div class="flex-shrink-0 flex items-center">
                   
                     <h3 class="text-3xl font-extrabold text-white">Currrency Convertor</h3>
                   </div>
                   <div class="flex items-center justify-end hidden sm:block sm:ml-6">
                     <div class="flex space-x-4">
                     
           
                        <a href="{{ url_for('dashboard') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Dashboard</a>
                        <a href="{{ url_for('convert') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Convert</a>
                        <a href="{{ url_for('transfer') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Transfer</a>
                        <a href="{{ url_for('profile') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Profile settings</a>  
                       <div>
                       <button type="button" class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                         <span class="sr-only">Open user menu</span>
                           </button>
                     </div>
                     </div>
                   </div>
                 </div>
                 <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                 
           
                   <div class="ml-3 relative">
                     
           
                
                     <!-- {/* <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabIndex="-1">
                      
                       <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabIndex="-1" id="user-menu-item-0">Home</a>
                       <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabIndex="-1" id="user-menu-item-1">Convert</a>
                       <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabIndex="-1" id="user-menu-item-2">Transfer</a>
                     </div> */} -->
                   </div>
                 </div>
               </div>
             </div>
           
           
             <div class="sm:hidden" id="mobile-menu">
               <div class="px-2 pt-2 pb-3 space-y-1">
                
                <a href="{{ url_for('dashboard') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Dashboard</a>
                <a href="{{ url_for('convert') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Convert</a>
                <a href="{{ url_for('transfer') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Transfer</a>
                <a href="{{ url_for('profile') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Profile settings</a>  
                 
                 <div class="ml-3 relative">
                     <div>
                       <button type="button" class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                         <span class="sr-only">Open user menu</span>
                          </button>
                     </div>
           
                
                   </div>
               </div>
             </div>
           </nav>
       </div>
       <div class=" flex  justify-center py-1 ">
        <div class="w-96 bg-white rounded-lg ">
           <div class="flex justify-end px-4 pt-4">
               <button id="dropdownButton" data-dropdown-toggle="dropdown" class="hidden sm:inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5" type="button">
                   <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path></svg>
               </button>
       
               <div id="dropdown" class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
                   <ul class="py-1" aria-labelledby="dropdownButton">
                   <li>
                       <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
                   </li>
                   <li>
                       <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Export Data</a>
                   </li>
                   <li>
                       <a href="#" class="block py-2 px-4 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                   </li>
                   </ul>
               </div>
           </div>
           <br></br>
           <div class="flex flex-col items-center pb-10">
            <img
           width={24}
           height={24}
             class="mb-3 w-24 h-24 rounded-full shadow-lg" src="{{session.picture}}" alt="Bonnie image"
           /> 
              
               <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{session.first_name}} {{session.second_name}}</h5>
               <br>
               <span class="text-sm text-gray-500 dark:text-gray-400">Wallet Number:<span class="text-sm font-bold text-indigo-800">{{session.wallet_number}}</span></span>
               <br>
               <span class="text-sm text-gray-500 dark:text-gray-400">Wallet Balance:<span class="text-sm font-bold text-indigo-800">{{session.currency}} {{'{:.2f}'.format(session.wallet_balance)}}</span></span>
               <br>
               <a href="{{ url_for('transfer') }}" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"><button type="submit" >
                 
                 Transfer Money
               </button></a>
               <br>
               <a href="{{ url_for('convert') }}" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"><button type="submit" >
                 
                Convert Money
              </button></a>
           </div>
       </div>
       
       
               </div>
              