<script src="https://cdn.tailwindcss.com"></script>
<div>
    <nav class="bg-gray-800">
             <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
               <div class="relative flex items-center justify-between h-16">
                 <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                  
                   <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                     <span class="sr-only">Open main menu</span>
                    
                     <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="2" stroke="currentColor" aria-hidden="true">
                       <path strokeLinecap="round" strokeLinejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                     </svg>
                    
                     <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="2" stroke="currentColor" aria-hidden="true">
                       <path strokeLinecap="round" strokeLinejoin="round" d="M6 18L18 6M6 6l12 12" />
                     </svg>
                   </button>
                 </div>
                 <div class="flex-1 flex items-center justify-end sm:items-stretch sm:justify-start">
                   <div class="flex-shrink-0 flex items-center">
                   
                     <h3 class="text-3xl font-extrabold text-white">Currrency Convertor</h3>
                   </div>
                   <div class="flex items-center justify-end hidden sm:block sm:ml-6">
                     <div class="flex space-x-4">
                     
           
                      <a href="{{ url_for('dashboard') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Dashboard</a>
                      <a href="{{ url_for('convert') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Convert</a>
                      <a href="{{ url_for('transfer') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Transfer</a>
                      <a href="{{ url_for('profile') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Profile settings</a>  
                       <div>
                       <button type="button" class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                         <span class="sr-only">Open user menu</span>
                           </button>
                     </div>
                     </div>
                   </div>
                 </div>
                 <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                 
           
                   <div class="ml-3 relative">
                     
           
                
                     <!-- {/* <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabIndex="-1">
                      
                       <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabIndex="-1" id="user-menu-item-0">Home</a>
                       <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabIndex="-1" id="user-menu-item-1">Convert</a>
                       <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabIndex="-1" id="user-menu-item-2">Transfer</a>
                     </div> */} -->
                   </div>
                 </div>
               </div>
             </div>
           
           
             <div class="sm:hidden" id="mobile-menu">
               <div class="px-2 pt-2 pb-3 space-y-1">
                
                <a href="{{ url_for('dashboard') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Dashboard</a>
                <a href="{{ url_for('convert') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Convert</a>
                <a href="{{ url_for('transfer') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Transfer</a>
                <a href="{{ url_for('profile') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Profile settings</a>  
                 
                 <div class="ml-3 relative">
                     <div>
                       <button type="button" class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                         <span class="sr-only">Open user menu</span>
                          </button>
                     </div>
           
                
                   </div>
               </div>
             </div>
           </nav>
       </div>
       <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
          <div>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Update Your Profile</h2>
          </div>
          <form class="mt-8 space-y-6" enctype="multipart/form-data" action="/handle-profile-update" method="POST">
            <input type="hidden" name="remember" value="true"/>
            <div class="rounded-md shadow-sm -space-y-px">
            <div>
                <label htmlFor="email-address" class="block text-sm font-medium text-gray-700">First Name</label>
                <input id="email-address" value="{{session.first_name}}" minlength="3" maxlength="20" name="first_name" type="text"  required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="First Name"/>
              </div>
              <div>
                <label htmlFor="email-address" class="block text-sm font-medium text-gray-700">Last Name</label>
                <input id="email-address" value="{{session.second_name}}" minlength="3" maxlength="20" name="second_name" type="text"  required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Last Name"/>
              </div>
              <div>
                <label htmlFor="country" class="block text-sm font-medium text-gray-700">Choose Currency</label>
                            <select id="country" name="currency" required autoComplete="currency" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                              <option selected>{{session.currency}}</option>
                              <option>USD</option>
                              <option>EUR</option>
                              <option>JPY</option>
                              <option>GBP</option>
                              <option>AUD</option>
                              <option>CAD</option>
                              <option>CHF</option>
                              <option>CNH</option>
                              <option>HKD</option>
                              <option>NZD</option>
                              <option>KES</option>
                              <option>INR</option>
                            </select>
                             </div>
              <div>
                <label htmlFor="email-address" class="block text-sm font-medium text-gray-700">Email address</label>
                <input id="email-address"  value="{{session.email}}" minlength="8" maxlength="80" name="email" type="email" autoComplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email address"/>
              </div>
              <div>
              <div>
                <label htmlFor="email-address" class="block text-sm font-medium text-gray-700">Profile Image</label>
                <input id="file" name="picture" type="file"  required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email address"/>
              </div>
                </div>
            </div>
            <div class="">
              <input id="email-address" name="id"  value="{{session.user_id}}" type="hidden"  required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="0"/>
            </div>
           
      
            <div>
              <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                  
                  <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fillRule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clipRule="evenodd" />
                  </svg>
                </span>
                Update Profile
              </button>
            </div>
          </form>
        </div>
      </div>